<div class="container" style="width: 100%; display: flex; flex-direction: row;">
  <div class="flex flex-row items-center justify-center min-h-screen bg-gray-100 w-1/2">
    <div class="w-full p-6 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col items-center justify-center text-white">
      <h1 class="text-4xl font-extrabold tracking-wider animate-fadeIn">Angular 2 App</h1>
      
      <nav class="mt-6 flex gap-6 text-lg">
        <a routerLink="/example1" routerLinkActive="active" class="relative group transition duration-300">
          <span class="pb-1 border-b-2 border-transparent group-hover:border-white transition duration-300">Example 1</span>
        </a>
        <a routerLink="/example2" routerLinkActive="active" class="relative group transition duration-300">
          <span class="pb-1 border-b-2 border-transparent group-hover:border-white transition duration-300">Example 2</span>
        </a>
      </nav>
      
      <div class="mt-8 w-full max-w-md">
        <label class="block text-lg font-medium">Font Size:</label>
        <input type="number" [value]="themeService.fontSize()" (input)="setFont($event)" class=" border rounded-lg p-3 w-full text-gray-900" />
      </div>
      
      <div class="mt-4 w-full max-w-md">
        <label class="block text-lg font-medium">Background Color:</label>
        <select (change)="setBackgroundColor($event)" class="border rounded-lg p-3 w-full text-gray-900">
          @for (item of themeService.backgroundColorList(); track $index) {
            <option [value]="item.value" [selected]="themeService.backgroundColor() == item.value">{{item.name}}</option>
          }
        </select>
      </div>
      
      <div class="mt-6">
        <button (click)="themeService.saveTheme()" class="bg-white text-indigo-600 py-3 px-6 rounded-lg font-semibold hover:bg-gray-100 transition duration-300 shadow-lg">Save Theme</button>
      </div>
    
    </div>
   
  </div>
  
  <div class="w-1/2 p-6 flex flex-col items-center justify-center">
    <router-outlet></router-outlet>
  </div>
</div>