/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

:root {
    --font-size: 16px;
    --background-color: #ffffff;
  }
  
  body {
    font-size: var(--font-size);
    background-color: var(--background-color);
  }
  